@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

body {
  color: black;
  background: rgb(214, 219, 220);
}

@media print {
  body {
    background: transparent;
  }
  main {
    margin: 0.5in !important;
    padding: 0 !important;
  }
}
