@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

body {
  color: black;
  background: rgb(214, 219, 220);
}

@media print {
  body {
    background: transparent;
  }
  main {
    padding: 0.7in;
    padding-top: 0.5in;
  }
}
